<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
<!-- DEFAULT META TAGS -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content=""> 
<meta name="keywords" content="">
<title>{{page.title}}</title>
<!-- FONTS -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,800,600|Raleway:300,600,900" rel="stylesheet" type="text/css">
<!-- FONTS -->
<!-- CSS -->
<link rel="stylesheet" id="default-style-css" href="css/wrapcss.css" type="text/css" media="all" />
<!-- CSS -->
</head>
<body>
<div class="container">
	{% include header.html %}
	
	{{content}}
</div>
</body>
</html>
